﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script>
    if (top.location != self.location) {
        top.location = self.location;
    }
</script>

<div class="row">
    <iframe name="fraMain" id="fraMain" style="float: left; height: 750px; width: 1000px; position: relative;" src="@Url.Page("LandingPage", "LandingPage")"></iframe>
</div>


