﻿@page
@model ExampleIdentityProvider.Pages.LandingPageModel
@{
    Layout = "Shared/_LayoutWithoutNavBar";
}

<div class="row">
    <div class="jumbotron">
        <h1>My eScreen</h1>
        <p class="lead">
        </p>
    </div>
</div>