﻿@model dynamic

@{
    ViewBag.Title = "Access Denied";
    Layout = "_Layout";
}

<header>
    <h1 class="text-danger">Access Denied.</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
