﻿@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>
    This is a fake IS simulating a tenant for consumption by a tenant sp.
</p>
<p>This was created based on the sample ComponentSpace project "ExampleIdentityProvider"</p>
