﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}


<script>
    if (top.location != self.location) {
        top.location = self.location;
    }
</script>


<div class="row">
    <iframe name="fraMain" id="fraMain" , style="height: 100%; width: 100%" src="@Url.Page("LandingPage", "LandingPage")"></iframe>
</div>





