﻿@page
@model MyeScreen.Pages.LandingPageModel
@{
    Layout = "Shared/_LayoutWithoutNavBar";
}


<div class="row">
    <div class="jumbotron">
        <h1>My eScreen</h1>
        <p class="lead">
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    @if (Model.IsUserAuthenticated)
    {
        <div class="col-md-4">
            <a href="https://localhost:8888">eDrug Home</a>
            @Html.ActionLink("eDrug Home", "InitiateSingleSignOn", "Saml", null, new {@class = "btn btn-primary btn-lg btn-block"})
        </div>
    }
    <div class="col-md-4">
    </div>
</div>