﻿html {
    height: 100%;
}
body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.header {
    background-color: darkseagreen;
}

.navbar-inverse .navbar-brand {
    color: black;
}
.navbar-inverse .navbar-nav li a {
    color: black;
}

.pageContent {
    flex-direction: column;
    height: 100%;
}

.Site {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Site-content {
    flex: 1 0 auto;
}

.footer {
    background-color: darkseagreen;
    flex-shrink: 0;
    padding: 20px;
}

iframe {
    min-height: 100%;
    width: 100%;
}
