﻿@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<p>If you need assistance, please feel free to contact us by email or on our <a href="https://www.componentspace.com/forums" target="_blank">online forums</a>.</p>

<address>
    <strong>Support:</strong>   <a href="mailto:support@componentspace.com">support@componentspace.com</a><br />
    <strong>Sales:</strong> <a href="mailto:sales@componentspace.com">sales@componentspace.com</a>
</address>
