﻿@model Catalog.Models.MapsModel

<body onload="javascript:document.forms[0].submit();">
<form method="post" action="@Model.TransferUrl">
    <input type="hidden" name="AccessToken" value="@Model.AccessToken"/>
</form>
</body>
