﻿@model Catalog.Controllers.ClaimAndTokensModel
@{
    ViewBag.Title = "Claims";
}

<h3>@ViewBag.Message</h3>



<dl>
    @foreach (var claim in @Model.Claims)
    {
        <dt>
            @claim.Type
        </dt>
        <dd>
            @claim.Value
        </dd>
    }
    
    @foreach (var token in @Model.Tokens)
    {
        <dt>
            @token.Key
        </dt>
        <dd>
            @token.Value
        </dd>
    }

</dl>



