﻿@model ClaimAndTokensModel
@{
    ViewBag.Title = "Claims";
}

<h3>@ViewBag.Message</h3>


<h3>User Information</h3>
@if (User.Identity.IsAuthenticated)
{
    <dl>
        <dt>
            Is Authenticated
        </dt>
        <dd>
            @User.Identity.IsAuthenticated
        </dd>
    </dl>
    <dl>
        <dt>
            User Name
        </dt>
        <dd>
            @User.Identity.Name
        </dd>
    </dl>
}

<h3>Claims</h3>

<dl>
    @foreach (var claim in @Model.Claims)
    {
        <dt>
            @claim.Type
        </dt>
        <dd>
            @claim.Value
        </dd>
    }
    
    @foreach (var token in @Model.Tokens)
    {
        <dt>
            @token.Key
        </dt>
        <dd>
            @token.Value
        </dd>
    }

</dl>



